<% provide(:title, "About") %>
<h1>About Grid Solver</h1>
<p>This application solves a word puzzle proposed by <a href="http://sumofus.org/">SumOfUs</a> in a job application test. Here's their description of the problem:</p>

<font color="darkblue"><blockquote><p>We at SumOfUs really enjoy playing games, of many different types. One game we like playing involves a 4x4 grid of random letters, which are combined to make as many words as possible. For instance, given the following list of random letters:</p>

<tt>D G H I<br />
K L P S<br />
Y E U T<br />
E O R N</tt>

<p>Some of the words that might be found are:</p>

<tt><ul><li>SUPER</li>
<li>NUTS</li>
<li>KEY</li>
<li>RUST</li>
<li>HIPS</li>
<li>I</li>
</ul></tt>

<p>Each letter can be connected to any other letter, going up, down, left, right, or to any of the diagonal corners. Example code is provided in <a href="https://gist.github.com/EricBoersma/a81b6ece56f54125f458">this gist</a>. Your job is to write the game_word_search method such that when it is run at the end of that script, it will return strings of the words contained in any given matrix of Letter instances as quickly as possible. You may write this function in any major object-oriented programming language. Please include a comment at the top of the file indicating which language you are writing your code in.</p></blockquote></font>

<p>I've added the following clarifying rules to the design:</p>
<ul>
  <li>Each grid tile can be used only once in a single word. Thus, in the example grid above, SPURT is a valid word, but SPURTS is not. This also means the maximum word length is 16.</li>
  <li>When a word can be created by multiple valid paths (e.g., LYE in the above grid) it should be listed multiple times accordingly.</li>
</ul>

<p>Due to the time limit on the test on which the question appeared, I was not able to make a working solution, and instead presented <%= link_to "a psuedocode solution", answer_path %> that demonstrated understanding the problem, identifying the clarifications required, creating a solution, and ensuring the solution is reasonably efficient; but that wasn't in any particular language and thus wasn't ready to be compiled or interpreted. This site is a Ruby on Rails implementation of the solution I proposed there, mostly because I wanted to see it through.</p>

<p>- <a href="mailto:hawthorn@foobox.com">Frank J. Perricone</a></p>

<hr>

<h2>Acknowledgements</h2>

<ul>
  <li><a href="https://www.railstutorial.org/">Ruby on Rails Tutorial</a> by <a href="http://www.michaelhartl.com/">Michael Hartl</a></li>
  <li><a href="https://github.com/mhuggins/ruby-dictionary">ruby-dictionary gem</a> by <a href="https://github.com/mhuggins">mhuggins</a></li>
  <li><a href="https://github.com/atebits/Words">Letterpress's word list</a> maintained by <a href="https://github.com/atebits">atebits</a></li>
</ul>

<hr>

<h2>Still To Do</h2>
<ul>
  <li>Import the word list in the setup</li>
  <li>Revise the letter grid to not be fixed</li>
  <li>Generate button that populates the grid</li>
  <li>Solve button that solves the grid, and paginates the results or puts them in a scroll box</li>
</ul>