<% provide(:title, "Answer") %>
<h1>My Answer</h1>
<p>This is what I wrote in response to the question. I had about 50 minutes left when I got to this question.</p>

<pre><code>// I came to this question with nowhere near enough time to complete it,
// and there's also a missing link in the test pointing to a gist of
// example code. So rather than provide nothing or something too incomplete
// to tell you anything about me, I'm providing some pseudocode that
// describes the algorithm well enough for you to get the idea that I have
// come up with a viable, reasonably optimized solution. Actually
// implementing it in a specific language is the bit I don't have time to
// do. (Though I will probably do it in Ruby on Rails later today, just
// because it's going to haunt my thoughts until I create it somewhere...)

string TheGrid[16];

// For simplicity of passing around arrays of positions, I'll be
// using an array of 16 positions. Row one is positions 0,1,2,3;
// row two is 4,5,6,7; etc.

//////////////////////////////////////////////////////////////////////////

// Converts a series of positions into a string
function PositionsToString(positions[]) {
  result = ""
  for each position in positions[]
    result += TheGrid[position]    // assuming string concatenation
  return result
}

//////////////////////////////////////////////////////////////////////////

// Given an array with a series of positions within the grid,
// and a presumed already-provided word list, tells if a word
// has been formed.
function IsAWord(positions[]) {
  if PositionsToString(positions) in WordList return true
  return false
}

//////////////////////////////////////////////////////////////////////////

int DirectionXDelta[] = {-1,  0,  1, -1, 1, -1, 0, 1}
int DirectionYDelta[] = {-1, -1. -1,  0, 0,  1, 1, 1}
// Figures out which position is adjacent to another in a
// given direction. Directions are:
//     0 1 2
//     3 X 4
//     5 6 7
// an array is faster than doing the math, and this is
// inside a frequently-executed function so a good place
// to throw away a few dozen bytes to gain that speed

//////////////////////////////////////////////////////////////////////////

// Returns a position in a given direction, or nil if that's
// outside the grid

function AdjacentLocation(position, direction) {

  // find the x/y location for the starting position
  x = position % 4
  y = position / 4
  // assuming C/C++/C#-like operations for integer division and modulo

  // shift by the direction's delta, and jump out if we've fallen off the grid
  x += DirectionXDelta[direction]
  if x<0 or x>3 return nil
  y += DirectionYDelta[direction]
  if y<0 or y>3 return nil

  // convert back to position
  return y*4+x

}

//////////////////////////////////////////////////////////////////////////

// Given a series of positions used so far and a direction,
// returns the position in that direction, but only if it's
// a valid position not already present in the list;
// this is used while recursing to avoid going around in loops
// and thus having endless recursion. The assumption, which
// isn't explicitly stated in the problem but is implied by
// the sample answers, is that you can't go back over a letter
// repeatedly (e.g., SPURT is a valid solution for the provided
// grid, but SPURTS is not, since the S already got used once).
// If that assumption is invalid, a different approach is
// needed... and the problem becomes vastly more complicated,
// since any given string of fifty letters is not necessarily
// the end of your search since maybe there's a fifty-one
// letter word you haven't found, so you can only solve it
// through analysis of the word list you've been provided.

function AdjacentUnusedLocation(positions[], direction) {
  newpos = AdjacentLocation(positions.last, direction)
  if newpos == nil return nil
  if newpos in positions return nil
  return newpos
}

//////////////////////////////////////////////////////////////////////////

// For a given list of positions already explored, report it if it's a word,
// then see if adding one more position will make a word in each possible
// direction (excluding crossing back over places you've already been,
// or falling off the grid). This is a function that will recurse extensively,
// and is where the main work of the program is done.

function RecursePosition(positions[]) {

  // First, if this is a word, report it to the output.
  if IsAWord(positions) print PositionsToString(positions)
  // Doing this first ensures single-letter words are found (e.g., I)

  // If the grid allows the same word to be created by differing
  // paths, it will be reported each time. For instance, in
  // the supplied grid, LYE can be made two ways (5 8 9 and 5 8 12)
  // and so will be listed twice. I consider this a feature, but
  // if it's considered a bug, you could always pipe the output
  // into uniq! (Or solve it with an internal cache, but that's a
  // much less modular solution, so I haven't done that here.)

  // Next, if the list is already sixteen elements, take an early exit
  // Note: if there are no valid directions, we won't recurse anyway,
  // so this is just an optimization, and the code would work without
  // it (ideally we'd prove this with red-green refactoring).
  if positions.size == TheGrid.size return

  // For each possible direction, try adding that direction
  for direction = 0 to 7 {
    newpos = AdjacentUnusedLocation(positions, direction)
    if newpos != nil {
      newpositions = positions.append(newpos) // array push, e.g., << in Ruby
      RecursePositions(newpositions)
    }
  }
}

//////////////////////////////////////////////////////////////////////////

// The main function simply starts the recursion in each of the sixteen
// possible starting positions. I'm assuming something else in that
// missing gist might be what already loaded TheGrid[].

public FindAllWordsInGrid() {
  for starting = 0 to 15 {
    positions = [starting] // craeate new array with one element
    RecursePosition(positions)
  }
}</code></pre>