<table border=0 width="100%">
  <tr>
    <td>
      <table rows=4 cols=4 border=1>
        <tr><td>D</td><td>G</td><td>H</td><td>I</td></tr>
        <tr><td>K</td><td>L</td><td>P</td><td>S</td></tr>
        <tr><td>Y</td><td>E</td><td>U</td><td>T</td></tr>
        <tr><td>E</td><td>O</td><td>R</td><td>N</td></tr>
      </table>
    </td>
    <td>buttons and list go here</td>
  </tr>
</table>