<footer class="footer">
  <small>
    GridSolver by <a href="mailto:hawthorn@foobox.com">Frank J. Perricone</a>
  </small>
  <div align=right><%= link_to image_tag("rails.png", alt: "Rails logo"),
            'http://rubyonrails.org/' %></div>
</footer>