<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to "GridSolver", root_path, id: "logo" %>
    <nav>
      <ul class="nav navbar-nav pull-right">
        <li><%= link_to "Home",   root_path  %></li>
        <li><%= link_to "About",  about_path %></li>
      </ul>
    </nav>
  </div>
</header>
